<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 [ngStyle]="{'color': (route | async).name == 'en' ? 'red' : 'green'}">
    {{ 'title' | translate }}
  </h1>
  <div> {{ route.name | async}}</div>
    <nav class="home-nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>    
      <a routerLink="/users-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Users</a>
    </nav>

      <button (click)="switchLanguage('en')">en</button>
      <button (click)="switchLanguage('fr')">fr</button>
    <router-outlet></router-outlet>  
</div>

